@import "../../variables.scss";
@import "../../mixins.scss";

.cmp-spacer-1 {
  margin-bottom: 1px !important;
}
.cmp-spacer-2 {
  margin-bottom: 2px !important;
}
.cmp-spacer-3 {
  margin-bottom: 3px !important;
}
.cmp-spacer-4 {
  margin-bottom: 4px !important;
}
.cmp-spacer-sm {
  margin-bottom: 5px !important;
}
.cmp-spacer-6 {
  margin-bottom: 6px !important;
}
.cmp-spacer-md {
  margin-bottom: 7px !important;
}
.cmp-spacer-8 {
  margin-bottom: 8px !important;
}
.cmp-spacer-9 {
  margin-bottom: 9px !important;
}
.cmp-spacer-10 {
  margin-bottom: 10px !important;
}
.cmp-spacer-lg {
  margin-bottom: 15px !important;
}
.cmp-spacer-xl {
  margin-bottom: 20px !important;
}
.cmp-spacer-xxl {
  margin-bottom: 30px !important;
}
