<sly data-sly-use.textModel="com.adobe.cq.wcm.core.components.models.Text"
   data-sly-use.templates="core/wcm/components/commons/v1/templates.html"/>
<p data-sly-test.text="${textModel.text}"></p>
<sly data-sly-call="${templates.placeholder @ isEmpty = !text}"></sly>
<div data-sly-use.productlinelisting="com.macnicagwi.core.components.models.ProductLineListing" class="cmp-productlinelisting" data-resource-path="${productlinelisting.getResourcePath}" id="${productlinelisting.id}">
   <ul class="cmp-productlinelisting__product-line-cards">

   </ul>
</div>