@import "../../site/mixins";

.cmp-carousel__indicators,.owl-dots {
  position: relative;
  left: 50%;
  bottom: 1px;
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 2px;
  padding: 0;
  list-style: none;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0px;
  margin-top: 64px;
}

.cmp-carousel__indicator,.owl-dot {
  vertical-align: top;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  width: 50px;
  height: 10px;
  opacity: 1;
  background: $carouselindicator-background-color;
  border-radius: 30px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 8px;
    background-color: $color-primary;
    line-height: 2;
    opacity: 1;
    border-radius: 30px;
  }
  &--active,
  &.active {
    width: 100px;
    height: 8px;
    &::after {
      width: 100% !important;
      -webkit-transition: all 6s linear;
      transition: all 6s linear;
    }
  }
}

.cmp-carousel__action--pause, .cmp-carousel__action--play {
  display: none;
}

.cmp-carousel__actions,.owl-nav {
  .cmp-carousel__action--previous,.owl-prev {
    left: 42px;
    padding-bottom: 12px;
    .cmp-carousel__action-text,span {
      &::before {
        display: block;
        content: url("../resources/images/carousel-previous-white.svg");
       }
    }
    &:hover {
      .cmp-carousel__action-text,span {
        &::before {
         content: url("../resources/images/carousel-previous-white-hover.svg");
        }
      }
    }
  }
  .cmp-carousel__action--next,.owl-next {
    .cmp-carousel__action-text,span{
      position: absolute;
      left: 13%;
      top: 23%;
      &::before {
        display: block;
        content: url("../resources/images/carousel-next-white.svg");
      }
    }
    &:hover {
    .cmp-carousel__action-text,span {
      &::before {
        content: url("../resources/images/carousel-next-white-hover.svg");
      }
     }
    }
  }
}

.cmp-carousel__action--next, .cmp-carousel__action--previous,.owl-next,.owl-prev {
  display: block;
  padding: 0;
  cursor: pointer;
  font-size: 0px;
  color: transparent;
  outline: 0;
  background: 0 0;
  position: absolute;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: none;
  top: 35%;
  right: 42px;
  &:hover {
    width: 64px;
    height: 64px;
  }
}


.cmp-carousel__item{
  .cmp-bannerimage .cmp-image__image--gradient{
    &::after {
      border-radius: 0;
    }
    
  }
  .cmp-image__image--nogradient{
    .cmp-bannerimage .cmp-image__image--gradient{
      &::after {
        background: none;
      }
      
    }
  }
  .cmp-image{
     &__image {
          border-radius: 0 !important;
          max-height: 650px !important;
      }
      .cmp-image__link{
        position: relative;
      }
    .cmp-bannerimage__subtext{
      position: absolute;
      left: 3.66%;
      right: 43.85%;
      bottom: 64px;
      text-align: left;
      .cmp-bannerimage__subtext--text{
      @include H3-text;
      background: rgba($color-primary, 0.7);
      padding: 24px;
      color: invert($color-text-primary);
      @include mobile{
        padding: 4px;
      }
     }
     @include tab{
      left: 3.66%;
      right: 43.85%;
      top: auto;
      bottom: 33.55px;
    }
     @include mobile{
      left: 2.86%;
      right: 30.68%;
      top: auto;
      bottom: 14px;
     }
   }
  }
  }

/* compact view start */

.cmp-carousel--compact-view {
  .cmp-carousel__item {
    width: 82.04%;
    margin: auto;

    @include mobile {
      width: 100%;
      margin: 0;
    }
  }
  .cmp-carousel__actions,.owl-nav {
    .cmp-carousel__action--previous, .cmp-carousel__action--next,.owl-prev,.owl-next{
      width: 24px;
      height: 24px;
      border: none;
      .cmp-carousel__action-text,span {
        &::before {
          width: 11.6px;
          height: 6px;
        }
      }
    }
    .cmp-carousel__action--previous,.owl-prev {
      left: 1%;
      top: 35%;
      
       
      .cmp-carousel__action-text,span {
        &::before {
          content: url("../resources/images/carousel-variation-previous.svg");
          width: 11.6px;
          height: 6px;
          margin: 2px;
        }
      }
    }

    .cmp-carousel__action--next,.owl-next {
      right: 4%;
      top: 35%;
      .cmp-carousel__action-text,span {
        &::before {
          content: url("../resources/images/carousel-variation-next.svg");
          margin: 0 4px 0;
        }
      }
    }
  }
  .cmp-carousel__indicators,.owl-dots{
    margin-top: 32px;
  }
}

/* end */

@include tab {
  .cmp-carousel__indicators,.owl-dots {
    margin-top: 8px;
    .cmp-carousel__indicator,.owl-dot {
      width: 25px;
      height: 5px;
      &--active {
        width: 50px;
        height: 5px;
      }
      &::after {
        height: 5px;
      }
    }
  }
  .cmp-carousel__action--next, .cmp-carousel__action--previous {
    display: none;
  }

  .carousel {
    .cmp-carousel {
      .image {
        #carousel-second-image {
          .subtext {
            width: 520.6px;
            height: 86px;
            top: 60%;
            left: 36.3px;
          }
        }
      }
    }
  }
}

@include mobile {
  .carousel {
    .cmp-carousel {
      .image {
        #carousel-second-image {
          .subtext {
            @include H3-text;
            width: 210px;
            height: 28px;
            top: 45%;
            left: 14px;
            span {
              font-size: $font-size-normal;
              padding: 4px;
            }
          }
        }
      }
    }
  }

  .cmp-carousel__indicators,.owl-dots {
    margin-top: 8px;
  }
  .cmp-carousel__action--next, .cmp-carousel__action--previous {
    display: none;
  }

  .cmp-carousel__indicator,.owl-dot {
    width: 20.7px;
    height: 4.1px;
    &--active,
    &.active {
      width: 30.1px;
      height: 4.1px;
    }
    &::after {
      height: 4.1px;
    }
  }
}

.cmp-carousel__indicator--circle{
  .cmp-carousel__indicator,.owl-dot,.owl-dot.active, .cmp-carousel__indicator--active{
    width: 20px;
    height: 20px;
  }
  .cmp-carousel__indicator:after,.owl-dot:after{
    height: 20px;
  }
  .cmp-carousel__indicators,.owl-dots {
    margin-top: 48px;
  }
}


.cmp-carousel__hide_arrows_indicators{
  .cmp-carousel__actions{
    display: none;
  }
  .cmp-carousel__indicators,.owl-dots{
    display: none;
  }
} 


@include tab-and-mobile{
  .cmp-carousel--swipe{
    .carousel{
      width: 100%;
    }
    .cmp-carousel{
      overflow-x: scroll !important;
        max-width: 100%;
      .cmp-carousel__content{
          transition: all 0.5s;
          width: 213%;
          display: flex;
          margin-bottom: 20px;
          .cmp-carousel__indicators,.owl-dots{
            display: none;
          }
        }
        .cmp-carousel__item{
           display: block;
          }
          
      }
  }
  .owl-nav{
    display: none;
  }
}

.cmp-resizablecontainer--carousel-alignment{
  .owl-carousel{
    .owl-item{
      img{
        width: auto;
        display: initial;
      }
    }
  }
}

  .cmp-carousel--autofit{
      width: 1024px;
      overflow: hidden;
   }

