scripts=["
create service user sling-distribution-importer
set principal ACL for sling-distribution-importer
    allow jcr:read, rep:write, jcr:versionManagement, jcr:modifyAccessControl ,jcr:readAccessControl, jcr:lockManagement on /var
    allow jcr:read, rep:write, jcr:versionManagement, jcr:modifyAccessControl ,jcr:readAccessControl, jcr:lockManagement on /conf
    allow jcr:read, rep:write, jcr:versionManagement, jcr:modifyAccessControl ,jcr:readAccessControl, jcr:lockManagement on /content
end

set principal ACL for replication-service
    allow jcr:all on /var
    allow jcr:all on /conf
    allow jcr:all on /content
end
"]