scripts=["

remove macnicagwi-galaxy-authors,macnicagwi-anstek-authors,macnicagwi-gfei-authors,macnicagwi-macnicacytech-authors from group macnicagwi-global-authors
remove macnicagwi-global-authors from group macnicagwi-galaxy-authors
remove macnicagwi-global-authors from group macnicagwi-anstek-authors
remove macnicagwi-global-authors from group macnicagwi-gfei-authors
remove macnicagwi-global-authors from group macnicagwi-macnicacytech-authors

create path /content/dam/macnicagwi(sling:OrderedFolder)
create path /content/dam/macnicagwi/jcr:content(nt:unstructured)
    set properties on /content/dam/macnicagwi/jcr:content
	set cq:conf{String} to /conf/macnicagwi
	set metadataSchema{String} to /conf/global/settings/dam/adminui-extension/metadataschema/macnicagwi
	set jcr:title{String} to  \"MACNICA GWI\"
end

create path /content/macnicagwi/apac/galaxy(cq:Page)/jcr:content(cq:PageContent)
    set properties on /content/macnicagwi/apac/galaxy/jcr:content
    set sling:ResourceType{String} to macnicagwi/components/page/basepage
    set cq:template{String} to /conf/macnicagwi/settings/wcm/templates/base-page-content
    set jcr:title{String} to Galaxy
end

create path /content/experience-fragments/macnicagwi/apac/galaxy(sling:OrderedFolder)
    set properties on /content/experience-fragments/macnicagwi/apac/galaxy
    set jcr:title{String} to Galaxy
end

create path /content/macnicagwi/apac/anstek(cq:Page)/jcr:content(cq:PageContent)
    set properties on /content/macnicagwi/apac/anstek/jcr:content
	set sling:ResourceType{String} to macnicagwi/components/page/basepage
	set cq:template{String} to /conf/macnicagwi/settings/wcm/templates/base-page-content
	set jcr:title{String} to ANStek
end

create path /content/experience-fragments/macnicagwi/apac/anstek(sling:OrderedFolder)
    set properties on /content/experience-fragments/macnicagwi/apac/anstek
	set jcr:title{String} to ANStek
end


create path /content/macnicagwi/apac/cytech(cq:Page)/jcr:content(cq:PageContent)
    set properties on /content/macnicagwi/apac/cytech/jcr:content
	set sling:ResourceType{String} to macnicagwi/components/page/basepage
	set cq:template{String} to /conf/macnicagwi/settings/wcm/templates/base-page-content
	set jcr:title{String} to Cytech
end

create path /content/experience-fragments/macnicagwi/apac/cytech(sling:OrderedFolder)
    set properties on /content/experience-fragments/macnicagwi/apac/cytech
	set jcr:title{String} to Cytech
end

create path /content/macnicagwi/apac/gfei(cq:Page)/jcr:content(cq:PageContent)
    set properties on /content/macnicagwi/apac/gfei/jcr:content
	set sling:ResourceType{String} to macnicagwi/components/page/basepage
	set cq:template{String} to /conf/macnicagwi/settings/wcm/templates/base-page-content
	set jcr:title{String} to GFEI
end

create path /content/experience-fragments/macnicagwi/apac/gfei(sling:OrderedFolder)
    set properties on /content/experience-fragments/macnicagwi/apac/gfei
	set jcr:title{String} to GFEI
end

create path /content/macnicagwi/apac/cytronic(cq:Page)/jcr:content(cq:PageContent)
    set properties on /content/macnicagwi/apac/cytronic/jcr:content
	set sling:ResourceType{String} to macnicagwi/components/page/basepage
	set cq:template{String} to /conf/macnicagwi/settings/wcm/templates/base-page-content
	set jcr:title{String} to Cytronic
end

create path /content/experience-fragments/macnicagwi/apac/cytronic(sling:OrderedFolder)
    set properties on /content/experience-fragments/macnicagwi/apac/cytronic
	set jcr:title{String} to Cytronic
end

create path /content/macnicagwi/apac/macnicacytech(cq:Page)/jcr:content(cq:PageContent)
    set properties on /content/macnicagwi/apac/macnicacytech/jcr:content
	set sling:ResourceType{String} to macnicagwi/components/page/basepage
	set cq:template{String} to /conf/macnicagwi/settings/wcm/templates/base-page-content
	set jcr:title{String} to macnicaCytech
end

create path /content/experience-fragments/macnicagwi/apac/macnicacytech(sling:OrderedFolder)
    set properties on /content/experience-fragments/macnicagwi/apac/macnicacytech
	set jcr:title{String} to macnicaCytech
end


create path /content/macnicagwi/apac/cytech(cq:Page)/jcr:content(cq:PageContent)
    set properties on /content/macnicagwi/apac/cytech/jcr:content
	set sling:ResourceType{String} to macnicagwi/components/page/basepage
	set cq:template{String} to /conf/macnicagwi/settings/wcm/templates/base-page-content
	set jcr:title{String} to Cytech
end

create path /content/experience-fragments/macnicagwi/apac/cytech(sling:OrderedFolder)
    set properties on /content/experience-fragments/macnicagwi/apac/cytech
	set jcr:title{String} to Cytech
end

create path /content/macnicagwi/apac/gfei(cq:Page)/jcr:content(cq:PageContent)
    set properties on /content/macnicagwi/apac/gfei/jcr:content
	set sling:ResourceType{String} to macnicagwi/components/page/basepage
	set cq:template{String} to /conf/macnicagwi/settings/wcm/templates/base-page-content
	set jcr:title{String} to GFEI
end

create path /content/experience-fragments/macnicagwi/apac/gfei(sling:OrderedFolder)
    set properties on /content/experience-fragments/macnicagwi/apac/gfei
	set jcr:title{String} to GFEI
end

create path /content/macnicagwi/apac/cytronic(cq:Page)/jcr:content(cq:PageContent)
    set properties on /content/macnicagwi/apac/cytronic/jcr:content
	set sling:ResourceType{String} to macnicagwi/components/page/basepage
	set cq:template{String} to /conf/macnicagwi/settings/wcm/templates/base-page-content
	set jcr:title{String} to Cytronic
end

create path /content/experience-fragments/macnicagwi/apac/cytronic(sling:OrderedFolder)
    set properties on /content/experience-fragments/macnicagwi/apac/cytronic
	set jcr:title{String} to Cytronic
end

create path /content/macnicagwi/apac/macnicacytech(cq:Page)/jcr:content(cq:PageContent)
    set properties on /content/macnicagwi/apac/macnicacytech/jcr:content
	set sling:ResourceType{String} to macnicagwi/components/page/basepage
	set cq:template{String} to /conf/macnicagwi/settings/wcm/templates/base-page-content
	set jcr:title{String} to macnicaCytech
end

create path /content/experience-fragments/macnicagwi/apac/macnicacytech(sling:OrderedFolder)
    set properties on /content/experience-fragments/macnicagwi/apac/macnicacytech
	set jcr:title{String} to macnicaCytech
end


create path /content/macnicagwi/apac/cytech(cq:Page)/jcr:content(cq:PageContent)
    set properties on /content/macnicagwi/apac/cytech/jcr:content
	set sling:ResourceType{String} to macnicagwi/components/page/basepage
	set cq:template{String} to /conf/macnicagwi/settings/wcm/templates/base-page-content
	set jcr:title{String} to Cytech
end

create path /content/experience-fragments/macnicagwi/apac/cytech(sling:OrderedFolder)
    set properties on /content/experience-fragments/macnicagwi/apac/cytech
	set jcr:title{String} to Cytech
end

create path /content/macnicagwi/apac/gfei(cq:Page)/jcr:content(cq:PageContent)
    set properties on /content/macnicagwi/apac/gfei/jcr:content
	set sling:ResourceType{String} to macnicagwi/components/page/basepage
	set cq:template{String} to /conf/macnicagwi/settings/wcm/templates/base-page-content
	set jcr:title{String} to GFEI
end

create path /content/experience-fragments/macnicagwi/apac/gfei(sling:OrderedFolder)
    set properties on /content/experience-fragments/macnicagwi/apac/gfei
	set jcr:title{String} to GFEI
end

create path /content/macnicagwi/apac/cytronic(cq:Page)/jcr:content(cq:PageContent)
    set properties on /content/macnicagwi/apac/cytronic/jcr:content
	set sling:ResourceType{String} to macnicagwi/components/page/basepage
	set cq:template{String} to /conf/macnicagwi/settings/wcm/templates/base-page-content
	set jcr:title{String} to Cytronic
end

create path /content/experience-fragments/macnicagwi/apac/cytronic(sling:OrderedFolder)
    set properties on /content/experience-fragments/macnicagwi/apac/cytronic
	set jcr:title{String} to Cytronic
end

create path /content/macnicagwi/apac/macnicacytech(cq:Page)/jcr:content(cq:PageContent)
    set properties on /content/macnicagwi/apac/macnicacytech/jcr:content
	set sling:ResourceType{String} to macnicagwi/components/page/basepage
	set cq:template{String} to /conf/macnicagwi/settings/wcm/templates/base-page-content
	set jcr:title{String} to macnicaCytech
end

create path /content/experience-fragments/macnicagwi/apac/macnicacytech(sling:OrderedFolder)
    set properties on /content/experience-fragments/macnicagwi/apac/macnicacytech
	set jcr:title{String} to macnicaCytech
end

create path /content/dam/macnicagwi/apac/anstek(sling:Folder)/jcr:content(nt:unstructured)
create path /content/dam/macnicagwi/content-fragments(sling:Folder)/jcr:content(nt:unstructured)
create path /content/dam/macnicagwi/apac/galaxy(sling:Folder)/jcr:content(nt:unstructured)
create path /content/dam/macnicagwi/apac/cytech(sling:Folder)/jcr:content(nt:unstructured)
create path /content/dam/macnicagwi/apac/gfei(sling:Folder)/jcr:content(nt:unstructured)
create path /content/dam/macnicagwi/apac/cytronic(sling:Folder)/jcr:content(nt:unstructured)
create path /content/dam/macnicagwi/apac/macnicacytech(sling:Folder)/jcr:content(nt:unstructured)
create path /content/cq:tags(sling:Folder)
create path /conf/macnicagwi(sling:Folder)
create path /conf/global/settings/workflow/models(sling:Folder)
create path /var/workflow/models(sling:Folder)
create path /var/workflow/instances(sling:Folder)
create path /home/groups(rep:AuthorizableFolder)
create path /home/users(rep:AuthorizableFolder)
create path /conf/macnicagwi(sling:Folder)
create path /var/workflow
create path /libs/settings/workflow/models
create path /var/cq/dtm-reactor/clientlibs
create path /etc/workflow
create path /conf/macnicagwi/settings/wcm/templates
create path /content/macnicagwi/global-content-library
create path /content/macnicagwi/global-portal
create path /content/cq:tags/macnicagwi
create path /conf/macnicagwi/apac/anstek
create path /conf/macnicagwi/apac/galaxy
create path /conf/macnicagwi/apac/cytech
create path /conf/macnicagwi/apac/gfei
create path /conf/macnicagwi/apac/cytronic
create path /conf/macnicagwi/apac/macnicacytech
create path /conf/macnicagwi/settings/wcm
create path /conf/global/settings
create path /home/groups/macnicagwi/anstek
create path /home/groups/macnicagwi/cytech
create path /home/groups/macnicagwi/gfei
create path /home/groups/macnicagwi/cytronic
create path /home/groups/macnicagwi/macnicacytech
create path /conf/macnicagwi/settings/wcm/policies/macnicagwi
create path /content/cq:tags/anstek
create path /content/cq:tags/galaxy
create path /content/cq:tags/cytech
create path /content/cq:tags/gfei
create path /content/cq:tags/cytronic
create path /content/cq:tags/macnicacytech
create path /content/dam/macnicagwi/content-fragments/office-locations/apac/anstek
create path /content/dam/macnicagwi/content-fragments/office-locations/apac/galaxy
create path /content/dam/macnicagwi/content-fragments/office-locations/apac/cytech
create path /content/dam/macnicagwi/content-fragments/office-locations/apac/gfei
create path /content/dam/macnicagwi/content-fragments/office-locations/apac/cytronic
create path /content/dam/macnicagwi/content-fragments/office-locations/apac/macnicacytech
create path /content/dam/macnicagwi/global-portal
create path /content/macnicagwi/global-content-library
create path /content/macnicagwi/global-portal
create path /content/macnicagwi/global
create path /content/dam/globalportal
create path /content/experience-fragments/macnicagwi/globalportal
create path /content/cq:tags/global-portal
create path /content/experience-fragments/macnicagwi



create service user macnicagwi-wcm-system-service  with forced path system/cq:services/macnicagwi
    add macnicagwi-wcm-system-service to group administrators
    set principal ACL for macnicagwi-wcm-system-service
        allow jcr:all,crx:replicate,rep:write on /home/users
        allow jcr:all,crx:replicate,rep:write on /home/groups
        allow jcr:all on /var/workflow/packages
		allow jcr:all,crx:replicate,rep:write on /content/macnicagwi
		allow jcr:all,crx:replicate,rep:write on /content/dam/macnicagwi
		allow jcr:all,crx:replicate,rep:write on /content/cq:tags
		allow jcr:all,crx:replicate,rep:write on /conf
		allow jcr:all,crx:replicate,rep:write on /conf/macnicagwi
		allow jcr:all,crx:replicate,rep:write on /conf/globalportal
        allow jcr:all on /conf/global/settings/workflow/models
        allow jcr:all on /var/workflow
        allow jcr:all on /var/workflow/instances
        allow jcr:all on /var/statistics/workflows
        allow jcr:all on /libs/settings/workflow/models
        allow jcr:all on /var/cq/dtm-reactor/clientlibs
        allow jcr:all on /etc/workflow
        allow jcr:all on /content/experience-fragments/macnicagwi/apac
        allow jcr:all on /content/experience-fragments/macnicagwi
        allow jcr:all on /content/experience-fragments/macnicagwi/globalportal
end

set ACL for projects-administrators
       allow jcr:all on /conf/global
       allow jcr:all on /content/projects
end

create group macnicagwi-global-authors with path /home/groups/macnicagwi
    add macnicagwi-anstek-approvers,macnicagwi-galaxy-authors,macnicagwi-anstek-authors,macnicagwi-global-authors,macnicagwi-galaxy-approvers,macnicagwi-global-approvers,macnicagwi-cytech-authors,macnicagwi-cytech-approvers,macnicagwi-gfei-authors,macnicagwi-gfei-approvers,macnicagwi-cytronic-authors,macnicagwi-cytronic-approvers,macnicagwi-macnicacytech-authors,macnicagwi-macnicacytech-approvers to group dam-users
    add macnicagwi-anstek-approvers,macnicagwi-galaxy-authors,macnicagwi-anstek-authors,macnicagwi-global-authors,macnicagwi-galaxy-approvers,macnicagwi-global-approvers,macnicagwi-cytech-authors,macnicagwi-cytech-approvers,macnicagwi-gfei-authors,macnicagwi-gfei-approvers,macnicagwi-cytronic-authors,macnicagwi-cytronic-approvers,macnicagwi-macnicacytech-authors,macnicagwi-macnicacytech-approvers to group projects-administrators
	add macnicagwi-galaxy-authors,macnicagwi-anstek-authors,macnicagwi-global-authors,macnicagwi-galaxy-approvers,macnicagwi-global-approvers,macnicagwi-anstek-approvers,macnicagwi-cytech-authors,macnicagwi-cytech-approvers,macnicagwi-gfei-authors,macnicagwi-gfei-approvers,macnicagwi-cytronic-authors,macnicagwi-cytronic-approvers,macnicagwi-macnicacytech-authors,macnicagwi-macnicacytech-approvers to group content-authors
	add macnicagwi-anstek-authors,macnicagwi-galaxy-authors,macnicagwi-galaxy-approvers,macnicagwi-global-approvers,macnicagwi-wcm-system-service,macnicagwi-anstek-approvers,macnicagwi-cytech-authors,macnicagwi-cytech-approvers,macnicagwi-gfei-authors,macnicagwi-gfei-approvers,macnicagwi-cytronic-authors,macnicagwi-cytronic-approvers,macnicagwi-macnicacytech-authors,macnicagwi-macnicacytech-approvers to group workflow-users
    set ACL for macnicagwi-global-authors
        allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/macnicagwi
        allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/experience-fragments/macnicagwi
        allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/dam/macnicagwi/content-fragments
        allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/cq:tags
        allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/dam/macnicagwi
        allow jcr:read,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement on /conf

    end

set ACL for content-authors
        deny jcr:modifyAccessControl,jcr:readAccessControl on /
        deny crx:replicate,rep:write  on /content/macnicagwi
        deny crx:replicate,rep:write  on /content/experience-fragments/macnicagwi
        deny rep:write,crx:replicate on /conf/macnicagwi/settings/wcm/templates
        allow jcr:read on /conf/global/settings/workflow/models
        allow jcr:read,jcr:lockManagement,jcr:versionManagement,rep:write on /var/workflow
        allow jcr:read on /var/statistics/workflows
        allow jcr:read on /libs/settings/workflow/models
        allow jcr:read,rep:write on /var/cq/dtm-reactor/clientlibs
        allow jcr:read,rep:write,jcr:lockManagement,jcr:versionManagement on /etc/workflow
        allow jcr:read,rep:write,jcr:lockManagement,jcr:versionManagement on /var/workflow/models
        allow jcr:all on /conf/global
        allow jcr:all on /content/projects
end
set ACL for dam-users
    deny rep:write,crx:replicate on /content/dam/macnicagwi
end

#---------------Create Author groups and add permissions-----------
create group macnicagwi-galaxy-authors with path /home/groups/macnicagwi/galaxy/author/macnicagwi-galaxy-authors
set ACL for macnicagwi-galaxy-authors
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/macnicagwi/apac/galaxy
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/experience-fragments/macnicagwi/apac/galaxy
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/dam/macnicagwi/content-fragments
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/cq:tags/galaxy
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/dam/macnicagwi/apac/galaxy
    allow jcr:read on /conf/macnicagwi/settings/wcm/templates
    allow jcr:read on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
end

create group macnicagwi-anstek-authors with path /home/groups/macnicagwi/anstek/author/macnicagwi-anstek-authors
set ACL for macnicagwi-anstek-authors
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/macnicagwi/apac/anstek
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/experience-fragments/macnicagwi/apac/anstek
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/dam/macnicagwi/content-fragments
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/cq:tags/anstek
    allow jcr:read on /conf/macnicagwi/settings/wcm/templates
    allow jcr:read on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/dam/macnicagwi/apac/anstek
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
end
#---------------Create Approver groups and add permissions-----------
create group macnicagwi-galaxy-approvers with path /home/groups/macnicagwi/galaxy/approver/macnicagwi-galaxy-approvers
set ACL for macnicagwi-galaxy-approvers
    allow jcr:read on /
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/macnicagwi/apac/galaxy
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/experience-fragments/macnicagwi/apac/galaxy
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/dam/macnicagwi/content-fragments
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/cq:tags/galaxy
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /conf/macnicagwi/apac/galaxy
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/dam/macnicagwi/apac/galaxy
    allow jcr:read on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    allow jcr:read on /conf/macnicagwi/settings/wcm/templates
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
end

create group macnicagwi-anstek-approvers with path /home/groups/macnicagwi/anstek/approver/macnicagwi-anstek-approvers
set ACL for macnicagwi-anstek-approvers
    allow jcr:read on /
    allow jcr:read,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/macnicagwi/apac/anstek
    allow jcr:read,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/experience-fragments/macnicagwi/apac/anstek
    allow jcr:read,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/dam/macnicagwi/content-fragments
    allow jcr:read,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/cq:tags/anstek
    allow jcr:read,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /conf/macnicagwi/apac/anstek
    allow jcr:read,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/dam/macnicagwi/apac/anstek
    allow jcr:read on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    allow jcr:read on /conf/macnicagwi/settings/wcm/templates
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
end

create group macnicagwi-global-approvers with path /home/groups/macnicagwi/approver/macnicagwi-global-approvers
set ACL for macnicagwi-global-approvers
    allow jcr:read on /
    allow jcr:read,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/macnicagwi
    allow jcr:read,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/experience-fragments/macnicagwi
    allow jcr:read,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/dam/macnicagwi/content-fragments
    allow jcr:read,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/cq:tags/macnicagwi
    allow jcr:read,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /conf
    allow jcr:read,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/dam/macnicagwi
    allow jcr:read on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    allow jcr:read on /conf/macnicagwi/settings/wcm/templates
end

#---------------Create Admin groups and add permissions-----------
create group macnicagwi-galaxy-admin with path /home/groups/macnicagwi/galaxy/admin/macnicagwi-galaxy-admin
set ACL for macnicagwi-galaxy-admin
    allow jcr:all on /content/macnicagwi/apac/galaxy
    allow jcr:all on /content/experience-fragments/macnicagwi/apac/galaxy
    allow jcr:all on /content/cq:tags/galaxy
    allow jcr:all on /content/dam/macnicagwi/apac/galaxy
    allow jcr:all on /content/dam/macnicagwi/content-fragments
    allow jcr:all on /conf/macnicagwi/settings/wcm/templates
    allow jcr:all on /conf/global/settings/workflow/models
    allow jcr:all on /var/workflow
    allow jcr:all on /var/workflow/packages
    allow jcr:all on /var/statistics/workflows
    allow jcr:all on /libs/settings/workflow/models
    allow jcr:all on /var/cq/dtm-reactor/clientlibs
    allow jcr:all on /etc/workflow
    allow jcr:all on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    allow jcr:all on /home/groups/macnicagwi/galaxy
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/anstek
    allow jcr:read on /
end

create group macnicagwi-anstek-admin with path /home/groups/macnicagwi/anstek/admin/macnicagwi-anstek-admin
set ACL for macnicagwi-anstek-admin
    allow jcr:all,crx:replicate on /content/macnicagwi/apac/anstek
    allow jcr:all,crx:replicate on /content/experience-fragments/macnicagwi/apac/anstek
    allow jcr:all,crx:replicate on /content/cq:tags/anstek
    allow jcr:all,crx:replicate on /content/dam/macnicagwi/apac/anstek
    allow jcr:all,crx:replicate on /content/dam/macnicagwi/content-fragments
    allow jcr:all on /conf/macnicagwi/settings/wcm/templates
    allow jcr:all on /conf/global/settings/workflow/models
    allow jcr:all on /var/workflow
    allow jcr:all on /var/statistics/workflows
    allow jcr:all on /libs/settings/workflow/models
    allow jcr:all on /var/cq/dtm-reactor/clientlibs
    allow jcr:all on /etc/workflow
    allow jcr:all on /home/groups/macnicagwi/anstek
    allow jcr:all on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
    allow jcr:read on /
end

#---------------Create Author groups and add permissions-----------
create group macnicagwi-cytech-authors with path /home/groups/macnicagwi/cytech/author/macnicagwi-cytech-authors
set ACL for macnicagwi-cytech-authors
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/macnicagwi/apac/cytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/experience-fragments/macnicagwi/apac/cytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/dam/macnicagwi/content-fragments/office-locations/apac/cytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/cq:tags/cytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/dam/macnicagwi/apac/cytech
    allow jcr:read on /conf/macnicagwi/settings/wcm/templates
    allow jcr:read on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
    deny jcr:all on /content/dam/macnicagwi/global-portal
end

create group macnicagwi-gfei-authors with path /home/groups/macnicagwi/gfei/author/macnicagwi-gfei-authors
set ACL for macnicagwi-gfei-authors
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/macnicagwi/apac/gfei
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/experience-fragments/macnicagwi/apac/gfei
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/dam/macnicagwi/content-fragments/office-locations/apac/gfei
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/cq:tags/gfei
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/dam/macnicagwi/apac/gfei
    allow jcr:read on /conf/macnicagwi/settings/wcm/templates
    allow jcr:read on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
    deny jcr:all on /content/dam/macnicagwi/global-portal
end

create group macnicagwi-cytronic-authors with path /home/groups/macnicagwi/cytronic/author/macnicagwi-cytronic-authors
set ACL for macnicagwi-cytronic-authors
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/macnicagwi/apac/cytronic
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/experience-fragments/macnicagwi/apac/cytronic
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/dam/macnicagwi/content-fragments/office-locations/apac/cytronic
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/cq:tags/cytronic
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/dam/macnicagwi/apac/cytronic
    allow jcr:read on /conf/macnicagwi/settings/wcm/templates
    allow jcr:read on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
    deny jcr:all on /content/dam/macnicagwi/global-portal
end

create group macnicagwi-macnicacytech-authors with path /home/groups/macnicagwi/macnicacytech/author/macnicagwi-macnicacytech-authors
set ACL for macnicagwi-macnicacytech-authors
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/macnicagwi/apac/macnicacytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/experience-fragments/macnicagwi/apac/macnicacytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/dam/macnicagwi/content-fragments/office-locations/apac/macnicacytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/cq:tags/macnicacytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:addChildNodes,jcr:nodeTypeManagement on /content/dam/macnicagwi/apac/macnicacytech
    allow jcr:read on /conf/macnicagwi/settings/wcm/templates
    allow jcr:read on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
    deny jcr:all on /content/dam/macnicagwi/global-portal
end


#---------------Create Approver groups and add permissions-----------


create group macnicagwi-cytech-approvers with path /home/groups/macnicagwi/cytech/approver/macnicagwi-cytech-approvers
set ACL for macnicagwi-cytech-approvers
    allow jcr:read on /
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/macnicagwi/apac/cytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/experience-fragments/macnicagwi/apac/cytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/dam/macnicagwi/content-fragments
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/cq:tags/cytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /conf/macnicagwi/apac/cytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/dam/macnicagwi/apac/cytech
    allow jcr:read on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    allow jcr:read on /conf/macnicagwi/settings/wcm/templates
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
    deny jcr:all on /content/dam/macnicagwi/global-portal
end

create group macnicagwi-gfei-approvers with path /home/groups/macnicagwi/gfei/approver/macnicagwi-gfei-approvers
set ACL for macnicagwi-gfei-approvers
    allow jcr:read on /
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/macnicagwi/apac/gfei
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/experience-fragments/macnicagwi/apac/gfei
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/dam/macnicagwi/content-fragments/office-locations/apac/gfei
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/cq:tags/gfei
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /conf/macnicagwi/apac/gfei
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/dam/macnicagwi/apac/gfei
    allow jcr:read on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    allow jcr:read on /conf/macnicagwi/settings/wcm/templates
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
    deny jcr:all on /content/dam/macnicagwi/global-portal
end

create group macnicagwi-cytronic-approvers with path /home/groups/macnicagwi/cytronic/approver/macnicagwi-cytronic-approvers
set ACL for macnicagwi-cytronic-approvers
    allow jcr:read on /
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/macnicagwi/apac/cytronic
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/experience-fragments/macnicagwi/apac/cytronic
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/dam/macnicagwi/content-fragments
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/cq:tags/cytronic
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /conf/macnicagwi/apac/cytronic
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/dam/macnicagwi/apac/cytronic
    allow jcr:read on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    allow jcr:read on /conf/macnicagwi/settings/wcm/templates
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
    deny jcr:all on /content/dam/macnicagwi/global-portal
end

create group macnicagwi-macnicacytech-approvers with path /home/groups/macnicagwi/macnicacytech/approver/macnicagwi-macnicacytech-approvers
set ACL for macnicagwi-macnicacytech-approvers
    allow jcr:read on /
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/macnicagwi/apac/macnicacytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/experience-fragments/macnicagwi/apac/macnicacytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/dam/macnicagwi/content-fragments
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/cq:tags/macnicacytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /conf/macnicagwi/apac/macnicacytech
    allow jcr:read,rep:write,jcr:nodeTypeManagement,jcr:modifyProperties,jcr:lockManagement,jcr:versionManagement,jcr:removeChildNodes,jcr:removeNode,jcr:addChildNodes,jcr:nodeTypeManagement,crx:replicate on /content/dam/macnicagwi/apac/macnicacytech
    allow jcr:read on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    allow jcr:read on /conf/macnicagwi/settings/wcm/templates
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
    deny jcr:all on /content/dam/macnicagwi/global-portal
end
#---------------Create Admin groups and add permissions-----------

create group macnicagwi-cytech-admin with path /home/groups/macnicagwi/cytech/admin/macnicagwi-cytech-admin
set ACL for macnicagwi-cytech-admin
    allow jcr:all on /content/macnicagwi/apac/cytech
    allow jcr:all on /content/experience-fragments/macnicagwi/apac/cytech
    allow jcr:all on /content/cq:tags/cytech
    allow jcr:all on /content/dam/macnicagwi/apac/cytech
    allow jcr:all on /content/dam/macnicagwi/content-fragments/office-locations/apac/cytech
    allow jcr:all on /conf/macnicagwi/settings/wcm/templates
    allow jcr:all on /conf/global/settings/workflow/models
    allow jcr:all on /var/workflow
    allow jcr:all on /var/workflow/packages
    allow jcr:all on /var/statistics/workflows
    allow jcr:all on /libs/settings/workflow/models
    allow jcr:all on /var/cq/dtm-reactor/clientlibs
    allow jcr:all on /etc/workflow
    allow jcr:all on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    allow jcr:all on /home/groups/macnicagwi/cytech
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
    deny jcr:all on /content/dam/macnicagwi/global-portal
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/anstek
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/galaxy
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/gfei
    allow jcr:read on /
end

create group macnicagwi-gfei-admin with path /home/groups/macnicagwi/gfei/admin/macnicagwi-gfei-admin
set ACL for macnicagwi-gfei-admin
    allow jcr:all on /content/macnicagwi/apac/gfei
    allow jcr:all on /content/experience-fragments/macnicagwi/apac/gfei
    allow jcr:all on /content/cq:tags/gfei
    allow jcr:all on /content/dam/macnicagwi/apac/gfei
    allow jcr:all on /content/dam/macnicagwi/content-fragments/office-locations/apac/gfei
    allow jcr:all on /conf/macnicagwi/settings/wcm/templates
    allow jcr:all on /conf/global/settings/workflow/models
    allow jcr:all on /var/workflow
    allow jcr:all on /var/workflow/packages
    allow jcr:all on /var/statistics/workflows
    allow jcr:all on /libs/settings/workflow/models
    allow jcr:all on /var/cq/dtm-reactor/clientlibs
    allow jcr:all on /etc/workflow
    allow jcr:all on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    allow jcr:all on /home/groups/macnicagwi/gfei
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/anstek
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/galaxy
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/cytech
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/cytronic
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/macnicacytech
    allow jcr:read on /
end

create group macnicagwi-cytronic-admin with path /home/groups/macnicagwi/cytronic/admin/macnicagwi-cytronic-admin
set ACL for macnicagwi-cytronic-admin
    allow jcr:all on /content/macnicagwi/apac/cytronic
    allow jcr:all on /content/experience-fragments/macnicagwi/apac/cytronic
    allow jcr:all on /content/cq:tags/cytronic
    allow jcr:all on /content/dam/macnicagwi/apac/cytronic
    allow jcr:all on /content/dam/macnicagwi/content-fragments/office-locations/apac/cytronic
    allow jcr:all on /conf/macnicagwi/settings/wcm/templates
    allow jcr:all on /conf/global/settings/workflow/models
    allow jcr:all on /var/workflow
    allow jcr:all on /var/workflow/packages
    allow jcr:all on /var/statistics/workflows
    allow jcr:all on /libs/settings/workflow/models
    allow jcr:all on /var/cq/dtm-reactor/clientlibs
    allow jcr:all on /etc/workflow
    allow jcr:all on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    allow jcr:all on /home/groups/macnicagwi/cytronic
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/anstek
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/galaxy
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/cytech
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/gfei
    allow jcr:read on /
end

create group macnicagwi-macnicacytech-admin with path /home/groups/macnicagwi/macnicacytech/admin/macnicagwi-macnicacytech-admin
set ACL for macnicagwi-macnicacytech-admin
    allow jcr:all on /content/macnicagwi/apac/macnicacytech
    allow jcr:all on /content/experience-fragments/macnicagwi/apac/macnicacytech
    allow jcr:all on /content/cq:tags/macnicacytech
    allow jcr:all on /content/dam/macnicagwi/apac/macnicacytech
    allow jcr:all on /content/dam/macnicagwi/content-fragments/office-locations/apac/macnicacytech
    allow jcr:all on /conf/macnicagwi/settings/wcm/templates
    allow jcr:all on /conf/global/settings/workflow/models
    allow jcr:all on /var/workflow
    allow jcr:all on /var/workflow/packages
    allow jcr:all on /var/statistics/workflows
    allow jcr:all on /libs/settings/workflow/models
    allow jcr:all on /var/cq/dtm-reactor/clientlibs
    allow jcr:all on /etc/workflow
    allow jcr:all on /conf/macnicagwi/settings/wcm/policies/macnicagwi
    allow jcr:all on /home/groups/macnicagwi/macnicacytech
    deny jcr:all on /content/macnicagwi/global-content-library
    deny jcr:all on /content/macnicagwi/global-portal
    deny jcr:all on /content/dam/macnicagwi/global-portal
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/anstek
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/galaxy
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/gfei
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/cytech
    deny jcr:modifyAccessControl,jcr:readAccessControl on /home/groups/macnicagwi/cytronic
    allow jcr:read on /
end

"]
